.btn {
  background: linear-gradient(93.76deg, #0568FF -27.36%, #31A0FD 121.33%);
  box-shadow: 0.3125rem 0.3125rem 1.875rem rgba(84, 157, 241, 0.25);
  border-radius: 0.857rem;
  padding: 0 1.785rem;
  height: 2.85rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  font-size: 1rem;
  line-height: 1.214rem;
  color: #FFFFFF;

  transition: all .3s ease;

  &:hover {
    transform: scale(1.03);
  }

  &_light {
    background: #FFFFFF;
    border: 1px solid #717171;
    color: #222431;
    box-shadow: none;
  }

  &_dashed {
    border: 1px dashed #1C85FE;
    background: transparent;
    color: #1C85FE;
    box-shadow: none;
  }
}

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;

  &.show {
    display: block;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(225.4deg, rgba(5, 104, 255, 0.7) 25.17%, rgba(49, 160, 253, 0.5) 91.46%);
  }
}

.login-input {
  width: 100%;
  display: flex;
  align-items: center;
  background: #FAFAFC;
  border: 1px solid #E2E3ED;
  border-radius: .85rem;
  font-weight: 400;
  font-size: .85rem;
  line-height: 188.7%;
  color: #000;
  height: 4.14rem;
  padding: 0 1.42rem;

  &::placeholder {
    color: #72768F;
  }
}

.switcher {
  label {
    cursor: pointer;
  }

  input {
    display: none;

    &:checked {
      &+.fake {
        background: #014B9F;

        &::after {
          transform: translate(1.42rem, 0);
        }
      }
    }
  }

  .fake {
    position: relative;
    display: block;
    width: 2.428rem;
    height: 1rem;
    transition: all .3s ease;
    border-radius: 0.85rem;
    background: #717171;

    &::after {
      content: '';
      display: block;
      width: .85rem;
      height: .85rem;
      background: #FFFFFF;
      border-radius: 50%;
      position: absolute;
      top: 1px;
      left: 1px;
      transition: all .3s ease;
    }
  }
}