<div class="addnew addnew-botlist-token modal">
  <div class="addnew__bg modal__bg"></div>
  <div class="addnew-body">
    <div class="addnew-body__title">
      Для удаления введите УДАЛИТЬ
    </div>
    <input type="text" placeholder="Напишите тут  УДАЛИТЬ" class="addnew-body__input">
    <div class="addnew-body__btns">
      <button class="addnew-body__btns-cancel addnew-botlist-token__cancel">
        Отмена
      </button>
      <button class="addnew-body__btns-btn btn">
        Удалить
      </button>
    </div>
  </div>
</div>