<div class="addnew botlist-delete modal">
  <div class="addnew__bg modal__bg"></div>
  <div class="addnew-body">
    <div class="addnew-body__title">
      Вставьте новый токенs
    </div>
    <input type="text" placeholder="Вставьте новый токен" class="addnew-body__input">
    <div class="addnew-body__btns">
      <button class="addnew-body__btns-cancel botlist-delete__cancel">
        Отмена
      </button>
      <button class="addnew-body__btns-btn btn">
        Сохранить
      </button>
    </div>
  </div>
</div>