<div class="modalselect modal">
  <div class="modal__bg modalselect__bg"></div>
  <div class="modalselect-body">
    <div class="modalselect-body__header">
      <input type="text" class="modalselect-body__search" placeholder="Поиск">
      <button class="modalselect-body__close">
        <img src="./img/icons/close.svg" alt="">
      </button>
    </div>
    <div class="modalselect-body__content">
      <button class="modalselect-body__item">
        <div class="modalselect-body__item-img">
          <img src="./img/connect/scen01.png" alt="">
        </div>
        <div class="modalselect-body__item-bottom">
          <span></span>
          Test_Bot
        </div>
      </button>
      <button class="modalselect-body__item">
        <div class="modalselect-body__item-img">
          <img src="./img/connect/scen01.png" alt="">
        </div>
        <div class="modalselect-body__item-bottom">
          <span></span>
          Test_Bot
        </div>
      </button>
      <button class="modalselect-body__item">
        <div class="modalselect-body__item-img">
          <img src="./img/connect/scen01.png" alt="">
        </div>
        <div class="modalselect-body__item-bottom">
          <span></span>
          Test_Bot
        </div>
      </button>
      <button class="modalselect-body__item">
        <div class="modalselect-body__item-img">
          <img src="./img/connect/scen01.png" alt="">
        </div>
        <div class="modalselect-body__item-bottom">
          <span></span>
          Test_Bot
        </div>
      </button>
      <button class="modalselect-body__item">
        <div class="modalselect-body__item-img">
          <img src="./img/connect/scen01.png" alt="">
        </div>
        <div class="modalselect-body__item-bottom">
          <span></span>
          Test_Bot
        </div>
      </button>
      <button class="modalselect-body__item">
        <div class="modalselect-body__item-img">
          <img src="./img/connect/scen01.png" alt="">
        </div>
        <div class="modalselect-body__item-bottom">
          <span></span>
          Test_Bot
        </div>
      </button>
      <button class="modalselect-body__item">
        <div class="modalselect-body__item-img">
          <img src="./img/connect/scen01.png" alt="">
        </div>
        <div class="modalselect-body__item-bottom">
          <span></span>
          Test_Bot
        </div>
      </button>
      <button class="modalselect-body__item">
        <div class="modalselect-body__item-img">
          <img src="./img/connect/scen01.png" alt="">
        </div>
        <div class="modalselect-body__item-bottom">
          <span></span>
          Test_Bot
        </div>
      </button>
      <button class="modalselect-body__item">
        <div class="modalselect-body__item-img">
          <img src="./img/connect/scen01.png" alt="">
        </div>
        <div class="modalselect-body__item-bottom">
          <span></span>
          Test_Bot
        </div>
      </button>
    </div>
  </div>
</div>