<div class="addnew addnew-keyword modal">
  <div class="addnew__bg modal__bg"></div>
  <div class="addnew-body">
    <div class="addnew-body__title">
      Добавить ключевое слово
    </div>
    <input type="text" placeholder="Добавить ключевое слово" class="addnew-body__input">
    <div class="addnew-body__btns">
      <button class="addnew-body__btns-cancel addnew-keyword__cancel">
        Отмена
      </button>
      <button class="addnew-body__btns-btn btn">
        Сохранить
      </button>
    </div>
  </div>
</div>